# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log

# Spring Boot
*.jar
*.war
*.ear

# IDEs
.idea/
.vscode/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Sistema operacional
.DS_Store
Thumbs.db